{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<center>
<div class="container" style="margin-top:7em">
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" >Log In</button>
</form>
</div>
</center>
{% endblock %}



