{% extends 'index.html' %}


{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container" style="margin-top: 7.5em;">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
  </div>

{% endblock %}
