<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}

<html>

    <head>
        <title>
            Deija Profile
        </title>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    {% block meta%}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}
        <style>
            body{
                background-color: beige;
            }
        </style>
    </head>

    <body>
        {% block content %}
        <header>
        <img src="{% static 'deijafoto.jpg' %}" style="width : 300px; height : 400px; position:absolute;top: 200px;left: 50px;">
        <img src="{% static 'makara-ui-fasilkom.png' %}" style="width : 300px; height : 300px; position:absolute;top: 250px;right: 50px;">
        <center>
            <div style="margin-top:10em">
            <h1 >Deija Shakina Ayu</h1>
            <h3>NPM = 1906399373</h3>
            <h3>Angkatan = 2019</h3>
            <h3>Tempat Kuliah = Universitas Indonesia</h3>
            <h3>Hobi = menonton Netflix</h3>
            <br>
            <h3>Riwayat Pendidikan</h3>
            <table class="text-center" align="center">
                <tr>
                    <th>Tahun</th>
                    <th>Pendidikan</th>
                    <th>Jurusan</th>
                </tr>
                <tr>
                    <td>2005-2007</td>
                    <td>TK Perguruan Cikini</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2007-2013</td>
                    <td>SD Perguruan Cikini</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2013-2016</td>
                    <td>SMP Labschool Kebayoran</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>SMA Labschool Kebayoran</td>
                    <td>IPA</td>
                </tr>
                <tr>
                    <td>2019- sekarang</td>
                    <td>Universitas Indonesia</td>
                    <td>Fasilkom-Sistem Informasi</td>
                </tr>
            </table>
            <br>
            <h3>Sedikit Tentang Saya</h3>
            <p>Saya adalah orang yang sangat suka bercanda bersama teman.<br>
                Akhir- akhir ini sayang sedang sering-seringnya bermain<br>
                Among Us bersama teman-teman karena itu sangat menyenangkan<br>
                Saya sangat bersyukur dengan apa yang telah saya punya sekarang.
            </p>
        </div>
            <br>
            <h3>Social Media</h3>
            <br>
            <div style="margin: auto; width: 200px;" align = "center">
            <a href="https://www.instagram.com/deijashakinaayu/"><img src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png" width="50" height="50"></img></a>
            <a href="https://wa.me/6287781019778"><img src="https://pngimg.com/uploads/whatsapp/whatsapp_PNG11.png" width="45" height="44"></img></a>
            <a href="https://line.me/R/ti/p/deijashakinaayu"><img src="https://1.bp.blogspot.com/-QHm3gv3zc0U/XyvL9d7C-VI/AAAAAAAACl8/OkKXjwmahkEs5E-AUt7ZGtCN1CZhjycxwCLcBGAsYHQ/s1600/Logo%2BLINE.png" width="60" height="50"></img></a>
            </div>
            <br>
            <div>
                <a href="{% url 'story3:index' %}"><h>Back to home</h></a>
            </div>
        </center>
        {% endblock content %}
         <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>

</html>