<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% block meta%}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}
    <style>
      body {
          font-family:'Montserrat', sans-serif !important;
          font-size: 15px;
          font-weight: bold;
          margin: 0 30px;
      }
      .nav-link:hover::after {
          content: '';
          display: block;
          border-bottom: 3px solid rgb(54, 54, 54);
          width: 50%;
          margin: auto;
          padding-bottom: 5px;
      
      }

      .navbar-brand{
          width: 70%;
      }

      .navbar-expand-lg .navbar-nav .nav-link {
        padding : 0 1em;
      }

      .title {
        top: 4em;
        font-size: 60px;
        font-weight: bold;
        /* border-bottom: 3px solid black; */
        /* width:50%; */
      }

      .title-2 {
        top: 5em;
        font-size: 30px;
        font-weight: bold;
        /* border-bottom: 3px solid black; */
        /* width:50%; */
      }

      .btn-2{
        color: white;
        margin-left:70em; 
        margin-top:45em; 
        background-color: black;
        border-radius: 25px;
        border-color: black;
      }

      .text-overlay {
        position: absolute;
        top: 9em;
        left: 4.8em;
        right: 1.5em;
        font-size : 10px;
      }


      .margin-gambar{
        margin-top: 2.5em;
        
      }

      .social-media{
        width: 20%;

      }



    </style>
    <!-- akhir style -->
    
    </head>
    <body>


      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent" style="color:rgb(54, 54, 54)">
        <div class="container">
            <a class="navbar-brand page-scroll" href="{% url 'story3:index' %}"><img src="{% static 'logo2.png' %}" alt="logonavbar"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'story3:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story1:DeijaProfile' %}">story1</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jadwal:add_jadwal' %}">Add</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'jadwal:view_jadwal' %}">View</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_activity' %}">Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'story7:accordion' %}">Facts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story8:book-search' %}">BookSearch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story9:signup' %}">signup</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="nav-link"  href="{% url 'login' %}">Log In</a>
        {% endif %}
    </li>
      
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Schedule
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">My Schedule</a>
                      <a class="dropdown-item" href="#">Add Schedule</a>
                </li> -->
            </ul>
            </div>
        </div>
    </nav>
      <!-- Akhir navbar -->

      <!-- section 1 -->
      {% block content %}
      <section class="section1" id="home-page" style="padding-top: 6em">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div style="text-align:center;margin-top:3em;">
                <p style="margin-top:4em" class="title">welcome :)</p>
              </div>
            </div>
            <div class="col-md-6">
              <img style="width:100%; margin-top: 3em;" src="{% static 'gambar1.jpg' %}" alt="My Image">
              <div class="text-overlay">
                <p style="color:rgb(255, 255, 255)"><p style="color:rgb(255, 255, 255)">work portofolio<br><br><br>Hey guys, you could check-out my Profile and Check Out my<br> latest art work, hope you guys like it and if you guys are not,<br>I know why.</p></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir section 1 -->

      <!-- section 2 -->
      <section class="section2" id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <img class="margin-img" style="width:100%; margin-top: 9em; margin-left: 10em;"  src="{% static 'about.png' %}">
                <div class="text-overlay">
                  <button class="btn-2">my work</button>
                </div>
            </div>
          </div>
        </div>
        </div>
        </section>
      </section>
      <!-- akhir sec 2 -->

      <!-- section 3  -->
      <section style="margin-top: 2em;"class="section3" id="education">
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                <img style="width:100%; margin-top: 7em; margin-left:0" src="{% static 'gambar1.jpg' %}">
                </div>
                <div class="col-md-6">
                  <div style="text-align:center;margin-top: 4em;">
                    <p style="margin-top: 5em" class="title-2">Educational<br>Background<br><br></br.><img style="width:100%" src="{% static 'degree.jpg' %}"></p>
                    <div style="text-align: center;margin-top: 4em;"></div>
                  </div>
                </div>
            </div>
          </div>
      </section> 
      <!-- akhir section 3 -->

      <!-- section 4 -->
      <section class="section4" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div style="text-align:center; margin-top:4em">
                <p style="margin-top: 5em;" class="title">
                  Contact Me<br>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="https://www.instagram.com/deijashakina/">
              <img class="social-media" src="{% static 'ig.png' %}">
            </a>
            <a href="http://line.me/ti/p/~deijashakinaayu">
              <img class="social-media" src="{% static 'line.png' %}">
            </a>
            <a href="https://wa.me/6287781019778">
              <img style="width:14%; margin-left:1.5em" src="{% static 'whatsapp.png' %}">
            </a>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir section 4 -->
      {% endblock content %}

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>