<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    {% block meta%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}

    <style>
        body {
            font-family:'Montserrat', sans-serif !important;
            font-size: 15px;
            font-weight: bold;
            margin: 0 30px;
        }
        .btn-2{
        margin-left:70em; 
        margin-top:45em; 

        border-radius: 25px;
        border-color: black;
      }
    </style>
    <!-- akhir style -->
    
    </head>
    <body>

    
{% block content %}
<div style= "margin-top: 7em;">
<center>
<h3 style="font-size: 55px;">Add Activity</h3>
<div class="button" style="margin: 1em">
    <a href="{% url 'detail_activity' %}" class="btn btn-outline-primary" role="button" aria-pressed="true" style="background-color: rgb(245, 188, 0); color: rgb(0, 0, 0)">Activity Detail</a>  
  </div>
</center>
        {% if status %}
            {% if status == 'success' %}
            <div class="alert alert-success" role="alert">
                Add activity succeeded
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                Error, Please try again
            </div>
            {% endif %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mr-auto ml-auto" style="width: 50%; margin-top:7em; padding-left:19em">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            </div>
            <div class="container">
                <input type="submit" value="add" class="btn btn-primary click" style="margin-left:33em; background-color: rgb(245, 188, 0); color: rgb(0, 0, 0)">
            </div>
        </form>
        <!-- <section class="container-fluid d-flex flex-wrap align-content-center ">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <table class="table mx-3" style="width:88vw">
                {{ form.as_table }}
                <tr>
                    <center>
                    <td><p>Press to input data</p></td>
                    <td><input type="submit" value="Add" class="btn btn-primary click" style="background-color: rgb(245, 188, 0); color: rgb(0, 0, 0)"></td>
                    </center>   
                </tr>
            </table>
        </form>
    </section> -->


</div>

{% endblock content %}








     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>