<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    {% block meta%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}

    <style>
        body {
            font-family:'Montserrat', sans-serif !important;
            font-size: 15px;
            font-weight: bold;
            margin: 0 30px;
        }
        * {
    box-sizing: border-box;
  }
  
  /* .row{
    margin: 0 -5px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
</style>

    </style>
    <!-- akhir style -->
    
    </head>
    <body>

    
{% block content %}
<div class="main">
  <center>
  <h3 class="title" style="margin-top:3em;font-size: 55px;">Activity Detail</h3>
  <div class="button" style="margin: 4vw;">
    <a href="{% url 'add_activity' %}" class="btn btn-outline-primary" role="button" aria-pressed="true" style="background-color: rgb(245, 188, 0); color: rgb(0, 0, 0)">Add Activity</a>  
  </div>
</center>
</div>
      {% csrf_token %}
      {% for data in detail_activity %}
      <div class="container">
            <h3 class="title2" style="font-size: clamp(16px, 2vw, 37px);" ><span>{{data.activity}}</span></h3>
              {% csrf_token %}
              {% for i in participantData %}
                {% if i.activity == data %}
                  <h1 style="font-size: clamp(12px, 1.5vw, 33px);"> {{i.name}} </h1>
                  {% endif %}
                {% endfor %} 
      </div>
      {% endfor %}
      
      <center>
      <form method="POST">
        {% csrf_token %}
        <div class="mr-auto ml-auto" style="width: 50%; margin-top:7em">
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        </div>
      </center>
        <div class="container">
            <input type="submit" value="add" class="btn btn-primary click" style="margin-left:33em; background-color: rgb(245, 188, 0); color: rgb(0, 0, 0)">
        </div>
    </form>
  
    <div style="margin-top: 2em;">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Participant</th>
            </tr>
          </thead>
          <tbody>
            {% csrf_token %}
            {% for data in activityData %}
            <tr>
              <td><b>{{data.activity}}</b></td>
              {% csrf_token %}
              {% for participantD in participantData %}
                {% if participantD.activity == data %}
                <td> {{ participantD.name }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      
   


{% endblock content %}








     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>