<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>

{% block meta %}
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
   

    <link rel="stylesheet" type="text/css" href="{% static 'css/accordion.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/static/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>



{% endblock meta %}

<style>

    div{
        padding:0.5em;
    }
    .item{
        padding: 15px;
    }
    .accordion{
        background-color: white;
        color: black;
        cursor: pointer;
        width: 45%;
       
        border: none;
        font-size: 16px;
        text-align: left;
        margin-top: 4%;
        margin-left: 25%;
    }
    .item.active .panel{
        max-height: 600px;
        transition: .4s linear;
    }

    .accordion:hover{
        color: white;
    }

    div[id]::before{
        content: attr(id);
    }
    button > .fa-chevron-up, .fa-chevron-down {
        background-color: white;
        width: 20px
    }
    .panel{
        padding: 0 18px;
        background-color: whitesmoke;
        max-height: 0;
        overflow: hidden;
        margin-left: 25%;
        width: 45%;
    }

    .btn-up{
        color: black;
      background-color: transparent;
    }

    .btn-down{
        color: black;
      background-color: transparent;
    }
    
</style>

    <body>
{% block content %}

    <div class="container" style="margin-top: 8.5em">
        <div class="row">
          <div class="col-md-12" >
    <h1 style="text-align: center;">FAQ about Deija</h1>
    <div class="item">
        <button class="accordion">Activities
            <button class="btn-up">^<i class="fa fa-chevron-up up"></i></button>
            <button class="btn-down">v<i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br><p>mengejar deadline, filling my freetime with netflix, bersenda gurau bersama kelurga</p>
        </div>
    </div>
    <div class="item">
        <button class="accordion">Organization Experiences
            <button class="btn-up">^<i class="fa fa-chevron-up up"></i></button>
            <button class="btn-down">v<i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br><p>Manager Event Compfest 13</p><p>Staff BEM fasilkom depor</p><p>Marketing manager Oshiedu indonesia</p>
        </div>
    </div>
    <div class="item">
        <button class="accordion">achievements
            <button class="btn-up">^<i class="fa fa-chevron-up up"></i></button>
            <button class="btn-down">v<i class="fa fa-chevron-down down"></i></button>
        </button>
        <div class="panel"><br><p>gada</p>
        </div>
    
</div>
</div>
</div>





<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
    {% endblock content %}
</body>
</html>