<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    {% block meta%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}

    <style>
        body {
            font-family:'Montserrat', sans-serif !important;
            font-size: 15px;
            font-weight: bold;
            margin: 0 30px;
        }
    </style>
    <!-- akhir style -->
    
    </head>
    <body>

    <!-- detail matkul -->
   {% block content %}
    <div style="margin-top:7em">
        <center>
        <h2>Class Details</h2>
        <h3>{{ detail.Subject }}</h3>
        </center>
        <table class="table table-striped table-danger">
            <thead>
              <tr>
                <th scope="col">Room</th>
                <th scope="col">{{ detail.Room }}</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="table-warning">Lecturer</th>
                <td>{{ detail.Lecturer }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-warning"> Credits</th>
                <td>{{ detail.Credits }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-warning">Semester</th>
                <td>{{ detail.Semester }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-warning">Description</th>
                <td>{{ detail.Description }}</td>
              </tr>
            </tbody>
          </table>

    </div>


   {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>