<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    {% block meta%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock meta %}

    <style>
        body {
            font-family:'Montserrat', sans-serif !important;
            font-size: 15px;
            font-weight: bold;
            margin: 0 30px;
        }
    </style>
    <!-- akhir style -->
    </head>

    <body>
    
   <!-- view matkul -->
   {% block content %}
    <div style="margin-top:7em">
     <table class="table table-striped ">
         <thead>
             <tr>
                 <th scope="col">Subject</th>
                 <th scope="col">Lecturer</th>
                 <th scope="col">Credits</th>
                 <th scope="col">Description</th>
                 <th scope="col">Semester</th>
                 <th scope="col">Room</th>
                 <th scope="col">Delete</th>
             </tr>
         </thead>
         <tbody>
             {% for jadwal in semua_jadwal %}
             <tr>
                 <td>
                     <a href="{% url 'jadwal:detail' id=jadwal.id %}">{{ jadwal.Subject }}</a>
                 </td>
                 <td>{{ jadwal.Lecturer}}</td>
                 <td>{{ jadwal.Credits}}</td>
                 <td>{{ jadwal.Description}}</td>
                 <td>{{ jadwal.Semester}}</td>
                 <td>{{ jadwal.Room}}</td>
            <td>
                <a style="background-color: black; color:white" href="{% url 'jadwal:delete_jadwal' id=jadwal.id %}" role="button">Delete Subject</a>
            </td>
             </tr>
             {% endfor %}
         </tbody>
     </table>   
    </div>
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>