{% extends 'index.html' %}
{% load static %}
{% block title %} first landing page {% endblock %}

{% block content %}
{% if user.is_autheticated %}
 <div class="container" style="margin-top:15em">
     <div class="main">
         <h3 class="title">Hi!<span>{{ user }}</span></h3>
         <div class="center">
             <h6 class="title3">
                 klick random button or do you want to log out?</h6>
                 <a href="{% url 'logout' %}">
                     <button class="btn btn-outline-primary" id="logout">logout</button>
                 </a>
         </div>
     </div>
 </div>
 {% else %}
 <div class="main">
     <h3 class="title3">
         please <a href="{% url 'login' %}">LOGIN</a>
     </h3>
 </div>
 {% endif %}
 {% endblock content %}